@import "tailwindcss";

.collapse {
    visibility: visible !important;
    display: block !important;
  }
  
  .no-underline {
    text-decoration: none !important; 
  }
  
  .link:hover{
    color: white  !important;
    background: #343434;
  }
  .link{
    color: #343434 !important;
    border: 2px solid #343434;
  }